@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  margin-left: 8px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  width: 600px;
}

button {
  padding: 8px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 0;
}

.footer, .header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: #2c2c2c;
}

.footer {
  margin-top: auto;
  background-color: #eeeeee;
}

.right-links, .left-links {
  display: flex;
  gap: 16px;
  align-self: center;
}
