.header  {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  /* mine */
  font-family: monospace;
  background: papayawhip;
}


.logo {
  margin: 8px;
  /* mine */
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  display:flex;
  margin:0;
  padding:10px;
  gap: 8px;
  /* mine */
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  /* mine */
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* a, ul, .logo, .header {
  border: 5px solid red;
}